


<div id="about" class="grid">
  
    <div class="col-12 md:col-6">
        <h1 class="title">Nosotros</h1>
        <h5 class="txt-secondary fw-bold mt-3">Quienes Somos</h5>
        <p class="text-justify">
            Hoy somos una agencia de <span class="txt-primary fw-bold">promocionales y publicidad</span> y pronto seremos el sinónimo de la industria. 
            Tenemos una trayectoria 5 años y pronto festejaremos 100 años de éxitos.
        </p>
         <h5 class="txt-secondary fw-bold mt-3">Qué hacemos</h5>
        <p class="text-justify">
            Promocionales, publicidad, textiles y 
            cualquier <span class="txt-primary fw-bold">producto con identidad de tu marca</span> hacemos que tu empresa sea tendencia.
        </p>

        <h5 class="txt-secondary fw-bold mt-3">Misión</h5>
        <p class="text-justify">
            Gestionar con la <span class="txt-primary fw-bold">calidad y atención que tu mismo lo harías.</span>
            Nuestra meta es tener tu confianza y siempre ser <span class="txt-primary fw-bold">líder de tus proyectos.</span>
        </p>

        <h5 class="txt-secondary fw-bold mt-3">Visión</h5>
        <p class="text-justify">
            En México tenemos presencia en <span class="txt-primary fw-bold">28 estados.</span> 
            Trabajamos a paso ágil y cauteloso para pronto estar en <span class="txt-primary fw-bold">todo el mundo.</span> 
        </p>

        <h4 class="txt-primary fw-bold fst-italic text-center my-2">SOMOS UN MAR DE IDEAS, <span class="txt-secondary">SOMOS GIFT</span></h4>


    </div>

    <div class="col-12 md:col-6">
        <h3 class="font-semibold mb-2 txt-secondary text-right">Hoy estamos en:<br>28 de los 32 estados</h3> 
        <p-image src="./assets/images/mapaedos.png" class="img-fluid" width="100%" alt="mapa"></p-image>
</div>


</div>
