:host {
    ::ng-deep .bg-gift {
        background: hsla(269, 61%, 38%, 1);
        background: linear-gradient(0deg, hsla(269, 61%, 38%, 1) 60%, hsla(329, 100%, 42%, 1) 100%);
        background: -moz-linear-gradient(0deg, hsla(269, 61%, 38%, 1) 60%, hsla(329, 100%, 42%, 1) 100%);
        background: -webkit-linear-gradient(0deg, hsla(269, 61%, 38%, 1) 60%, hsla(329, 100%, 42%, 1) 100%);

        margin: 0px;
        border: none;
        border-radius: 0px;
        
    }

    ::ng-deep .p-menuitem-icon {
        color: white !important;
    }

    ::ng-deep .p-menuitem-text {
        color: white !important;
        text-transform: uppercase !important;
        font-weight: 600;
    }

    ::ng-deep .p-menuitem-link:hover {
        background-color: transparent !important;
    }

    ::ng-deep .p-menuitem-link:focus {
       box-shadow: none !important;
    }
 
}


::ng-deep  .p-menubar-start {
        display: flex !important;
        align-items: center !important;
        color: white;
}


::ng-deep .p-menubar {
    position: sticky;
    position: -webkit-sticky; // Needed for Safari browsers.
    z-index: 10000; // This prevents elements to be seen through the toolbar.
    top: 0; // Required for "position: sticky" to take effect.
}

::ng-deep .p-component {
    font-family: 'Open Sans', sans-serif !important;
}


::ng-deep .p-menubar .p-submenu-list {
    padding: 0.25rem 0;
    background: #732495 !important;
    border: 0 none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    width: 12.5rem;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
    background: #5f269c;
}


@media screen and (max-width: 960px) {
::ng-deep 
.p-menubar .p-menubar-root-list {
    position: absolute;
    display: none;
    padding: 0.25rem 0;
    background: #5f269c !important;
    border: 0 none;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}
}

::ng-deep .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background:#5f269c !important;
}