<div class="container">

    <div class=" my-2">
        <h3 class="title">Catálogo Promocionales 2023</h3>
    </div>



    <div class="grid">

        <div class="md:col-12 col-12">


            <div class="flex justify-content-center">
                <iframe src="https://catalogos.promocionalesenlinea.com/view/338387651/10/"
                    width="100%" height="800" style="border: none;" allowFullScreen>
                </iframe>
            </div>


        </div>
    </div>
    
</div>