<div id="advantages" class="grid">
    <div class="col-12 text-center my-3">
        <h1 class="title">Ventajas y Beneficios</h1>
        <div class="flex justify-content-center">
            <hr class="w-6 my-1">
        </div>
        <h4 class="subtitle">Subtitle</h4>
    </div>

    <div class="col-12 md:col-6">
        <div class="video-container">
            <iframe 
            src="https://www.youtube.com/embed/t6jlhqNxRYk"  class="video"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
       


    </div>
    <div class="col-12 md:col-6 p-3">

        <h5 class="txt-secondary fw-bold mt-3">¿Por que nosotros?</h5>

        <p class="text-justify">
            Somos precavidos a posibles contratiempos, revisamos y validamos tus proyectos a pie de maquina para revisar
            la
            producción contigo continuamente y que todo cumpla con sus expectativas, te orientaremos y fungiremos como
            un
            asistente para apoyar en todo momento con tus dudas e inquietudes.</p>

            <hr class="my-5">

        <h5 class="fst-italic fw-bold text-center txt-primary">"Somos una agencia en la cual te mostramos el
            avance para que siempre estes consciente de la etapa de producción de tus artículos"
        </h5>


    </div>
</div>