<div id="ourservice" class="grid">
    <div class="col-12 text-center my-5">
        <h1 class="title">Servicios</h1>
        <div class="flex justify-content-center">
            <hr class="w-6 my-1">
        </div>
        <h4 class="subtitle">Impulsa tu Marca: Soluciones Creativas de Promocionales e Impresión</h4>
    </div>

    <div class="col-12 md:col-4 my-2">
        <p-card header="Promocionales">
            <ng-template pTemplate="header">
                <img alt="Promocionales" src="./assets/images/promoocionales.jpg" />
            </ng-template>
            <p class="m-0">
                Artículos de obsequio con tu logo y datos de contacto.
                Para clientes activos y nuevos o/y para colaboradores.                
            </p>
        </p-card>
    </div>

    <div class="col-12 md:col-4 my-2">
        <p-card header="Regalos y kits empresariales">
            <ng-template pTemplate="header">
                <img alt="Regalos Corporativos" src="./assets/images/regalos-corp.jpg" />
            </ng-template>
            <p class="m-0">
                Regalos dentro de un Box de regalo o Canasta de regalo. 
                Artículos de gama alta o artesanales, comestibles o textiles.
            </p>
        </p-card>
    </div>

    <div class="col-12 md:col-4 my-2">
        <p-card header="Offset de gran formato y digital">
            <ng-template pTemplate="header">
                <img alt="Offset" src="./assets/images/offset.jpg" />
            </ng-template>
            <p class="m-0">
                Publicidad impresa. Lonas, Banners, POP, TDP, catálogos, trípticos, credenciales etc. y papelería corporativa.
            </p>
        </p-card>
    </div>   
    
    <div class="col-12 md:col-4 my-2">
        <p-card header="Uniformes administrativos y operativos">
            <ng-template pTemplate="header">
                <img alt="Uniformes" src="./assets/images/uniformes.jpg" />
            </ng-template>
            <p class="m-0">
                Textiles de línea y fabricación  con tu logo bordado o impreso.
                Equipo de protección personal brandeado.
            </p>
        </p-card>
    </div>    


    <div class="col-12 md:col-4 my-2">
        <p-card header="Artículos con branding corporativo">
            <ng-template pTemplate="header">
                <img alt="Premiaciones" src="./assets/images/premiaciones.jpg" />
            </ng-template>
            <p class="m-0">
                Productos para premiaciones, certificación, Kit para carreras, activaciones y/o campañas gestionadas por Capital Humano.
            </p>
        </p-card>
    </div>  
    
    <div class="col-12 md:col-4 my-2">
        <p-card header="Decoración Corportativa">
            <ng-template pTemplate="header">
                <img alt="Decoracion" src="./assets/images/decoracion.jpg" />
            </ng-template>
            <p class="m-0">
                Elementos para decorar un espacio donde se llevara acabo una premiación o evento importante. 
                Globos, letras MDF, POP temáticas festejo y/o celebración. 
            </p>
        </p-card>
    </div>    





</div>

