<div class="grid grid-nogutter parallax img-uno d-flex align-items-center justify-content-center">

  <div class="text-center">
    <h1>Somos un mar de ideas</h1>
    <h3>Somos <img src="./assets/images/logo.png" alt="logo" width="100px" height="auto" /></h3>
    <div class="d-flex"></div>
    <a href="#contact"  class="btn btn-lg btn-outline-light text-uppercase fw-bold my-4 mx-2">Cotiza Ahora</a>
    <a href="tel:5570339139" class="btn btn-lg btn-outline-light text-uppercase fw-bold my-4 mx-2">Llámanos</a>
  </div>
</div>

