<div class="grid grid-nogutter parallax img-uno d-flex align-items-center justify-content-center">

  <div class="text-center">
    <h1>Somos un mar de ideas</h1>
    <h3>Somos <img src="./assets/images/logo.png" alt="logo" width="100px" height="auto" /></h3>
    <div class="d-flex"></div>
    <button class="btn btn-lg btn-outline-light text-uppercase fw-bold my-4 mx-2">Cotiza Ahora</button>
    <button class="btn btn-lg btn-outline-light text-uppercase fw-bold my-4 mx-2">Llámanos</button>
  </div>
</div>

