<div id="contact">
    <div class="container">
        <div class="grid">

            <div class="col-12 md:col-6">
                <p-image src="./assets/images/logo.png" alt="Image" width="100px" height="auto"></p-image> 
                <h4 class="font-semibold my-3 text-white">Contacto</h4> 
                <div class="text-white">
                    <p><i class="fas fa-envelope mx-2 fa-lg"></i>contacto@mktgift.com.mx</p>
                    <p><i class="fas fa-phone mx-2 fa-lg"></i>55 7033 9139</p>
                    <p><i class="fab fa-whatsapp mx-2 fa-lg"></i>55 1571 1872</p>
                </div>
                <h4 class="font-semibold my-3 text-white"><strong>Ubicación:</strong></h4>

                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3760.264644462374!2d-99.2217598247832!3d19.53024858177017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDMxJzQ4LjkiTiA5OcKwMTMnMDkuMSJX!5e0!3m2!1ses!2smx!4v1692297314392!5m2!1ses!2smx" width="70%" height="224px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded"></iframe>
            </div>


            <div class="col-12 md:col-6">
                <h4 class="subtitle-w">llegamos a todo el país , nuestros clientes nos avalan</h4>




                <form [formGroup]="datos">
                <div class="flex flex-column gap-2 my-3">
                    <label class="text-white" htmlFor="nombre">Nombre completo</label>
                    <input pInputText id="nombre" aria-describedby="nombre"  placeholder="Nombre Completo" formControlName="nombre"/>
                    <!-- <small class="text-danger"  id="ayuda-nombre">Ingresa tu nombre completo.</small> -->
                </div>

                <div class="flex flex-column gap-2 my-3">
                    <label class="text-white" htmlFor="nombre">Empresa</label>
                    <input pInputText id="empresa" aria-describedby="empresa"  placeholder="Empresa" formControlName="empresa"/>
                    <!-- <small class="text-danger"  id="ayuda-empresa">Ingresa la empresa.</small> -->
                </div>


                <div class="flex flex-column gap-2 my-3">
                    <label class="text-white" htmlFor="nombre">Correo</label>
                    <input pInputText id="correo" aria-describedby="correo" placeholder="correo@empresa.com" formControlName="correo"/>
                    <!-- <small class="text-danger"  id="ayuda-correo">Ingresa el nombre de tu empresa.</small> -->
                </div>

                <div class="flex flex-column gap-2 my-3">
                    <label class="p-treeselect-label text-white" htmlFor="mensaje">Mensaje</label>
                    <textarea rows="3" cols="30" aria-describedby="ayuda-txt" pInputTextarea formControlName="mensaje"></textarea>
                    <!-- <small class="text-danger" id="ayuda-txt">Ingresa tu mensaje.</small> -->
                </div>


                <div class="flex justify-content-center">
                    <button class="btn btn-lg btn-outline-light text-uppercase fw-bold mt-2 mb-4 w-100" (click)="envioCorreo()">Enviar</button>
                </div>
            </form>




            </div>

           
        </div>
    </div>
</div>


<div id="footer" class="grid">
    <div class="col-12">
        <small>Gift® Todos los derechos reservados. Aviso de Privacidad | Términos y Condiciones</small>
    </div>
</div>




                <!-- <div class="flex flex-column gap-2 my-3">
                    <label class="p-treeselect-label text-white" htmlFor="servicio">Servicio o Producto</label>
                    <p-treeSelect class="w-full" aria-describedby="ayuda-service" containerStyleClass="w-full" [(ngModel)]="selectedNodes" [options]="nodes" placeholder="Selecciona el servicio y/o producto que te interesó"></p-treeSelect>
                    <small class="text-danger" id="ayuda-service">Ingresa tu nombre completo.</small>
                </div> -->